* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navbar
{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container
{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo
{
    background-color: #25ff37;
    background-image: linear-gradient(to top, #9ff000 0%, #9fffa7 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#navbar__logo:hover
{
    background-image: linear-gradient(to top, #4837ff 0%, #a097ff 100%);
}

.fa-solid
{
    margin-right:0.5rem;
    padding: 20px;
}

.navbar__menu
{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item
{
    height: 80px;
}

.navbar__links
{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.navbar__btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #1a8a23;
    color:#fff;
}

.button:hover
{
    background-color: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover
{
    color: #4837ff;
    transform: all 0.3s ease;
}

/*
    Main page
*/

.main
{
    background-color: #131313;
    opacity: 0.9;
    height: 100%;
}

.main__container
{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px auto;
    
}

.main__content
{
    margin: 0 2rem;
    color: #fff;
}

.main__btn
{
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #1a8a23;
}

.main__btn:hover
{
    background-color: #4837ff;
    transition: all 0.3s ease;

}

.main__img--container
{
    
}

@keyframes rising
{
    from
    {
        opacity: 0;
        transform: translateX(-100%);
    }
    to 
    {
        opacity: 1;
        transform: translateX(0);
    }
}

.box__container
{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: auto;
    z-index: 1;
}
.box
{
    position: relative;
    border-radius: 20px;
    padding: 140px 240px;
    border: 1px solid #292a30;
    animation: rising linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}


/*
    mobile
*/

@media screen and (max-width: 960px)
{
    .navbar__container
    {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        background: #131313;
    }
    .navbar__menu
    {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active
    {
        background: #131313;
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo
    {
        padding-left: 25px;
    }

    .navbar__toggle .bar 
    {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item
    {
        width: 100%;
    }

    .navbar__links
    {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

        
    }
    #mobile-menu
    {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn
    {
        padding-bottom: 2rem;
    }

    .button
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar
    {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2)
    {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1)
    {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3)
    {
        transform: translateY(-8px) rotate(-45deg);
    }
}


.main__notes
{
    background-color: #1f2325;
    background-image: linear-gradient(#292a30 .1em, transparent, .1em),
    linear-gradient(90deg, #292a30 .1em, transparent, .1em);
    background-size: 4em 4em;
    height: 100vh;
}

#add__note
{
    position: fixed;
    top: 85px;
    left: 15px;
    z-index: 1;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: bold;
    background:#9fffa7;
    border: 1px solid #292a30;
    color: #333;
    border-radius: 14px;
    cursor: pointer;
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;
}

#add__note::after
{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    background: radial-gradient(circle, #9ff000 10%, transparent 10.01%);
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    pointer-events: none;
    animation: ripple o.6s ease-out;
}

#add__note:hover
{
    transform: scale(1.05);
    background: linear-gradient(to top, #9ff000 0%, #9fffa7 100%)
}

@keyframes ripple
{
    from
    {
        transform: translate(-50%, -50%) scale(0);
    }
    to 
    {
        transform: translate(-50%, -50%) scale(1);
    }
}
#notes__container
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 80px 20px 20px;
    user-select: none;
}


.note 
{
    
    position: absolute;
    width: 240px;
    min-height: 180px;
    padding: 16px 14px;
    border-radius: 18px;
    backdrop-filter: blur(10px) saturate(180%);
    background: rgba(255,255,255,0.2);
    transition: all 0.3 ease;
    animation: fadeInUp 0.5s ease forwards;
}

.note:nth-child(1n)
{
    background: #badbbb;
}

.note:nth-child(2n)
{
    background: #7b8fff;
}

.note:nth-child(3n)
{
    background: #f8bbd0;
}

.note:nth-child(4n)
{
    background: #fff9c4;
}

.note:nth-child(5n)
{
    background: #d1c4e9;
}
.note.note:nth-child(6n)
{
    background: #fcfcfc;
}

@keyframes fadeInUp 
{
    from
    {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    to
    {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.note:hover
{
    transform: translateY(-5px) scale(1.02);
    box-shadow: 12px 12px 25px #00000026, -6px, -6px 20px #ffffff66;
}

.note textarea
{
    width: 100%;
    height: 120px;
    border: none;
    resize: none;
    font-size: 18px;
    font-family: inherit;
    background: transparent;
    color: #333;
    outline: none;
    padding-top: 35px;
}

.move__icon 
{
    position: absolute;
    top: 8px;
    left: 10px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff26;
    backdrop-filter: blur(6px) saturate(160%);
    border-radius: 50%;
    box-shadow: 0 2px 4px #00000033, inset 0 1px 2px #ffffff66;
    color: #333;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease;
    z-index: 10;
    opacity: 0.8;
}

.note:hover .move__icon
{
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 0 12px rgba(255,255,255,0.15);
}

.move__icon:active
{
    transform: scale(0.95);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}

.note .delete 
{
    position: absolute;
    top: 6px;
    right: 10px;
    background: rgba(255,0,0, 0.7);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    cursor: pointer;
    line-height: 22px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.3s;
}

.note .delete:hover
{
    background: rgba(200,0,0, 0.85);
}


.forms {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer
{
    color: #fff;
    background-color: #131313;
}

